<div class="box">
  <%# <p>ポケモンGO クイズ</p>
  <button class="rank">初級</button>
  <button class="rank">中級</button>
  <button class="rank">上級</button> %>


<%# ここから初級の問題 %>
  <div class="container">
    <div class="question">
      A simple primary alert—check it out!
    </div>

    <div class="answer">
      <button class="btn-primary">Primary</button>
      <button class="btn-primary">Primary</button>
      <button class="btn-primary">Primary</button>
      <button class="btn-primary">Primary</button>
    </div>
    </div>
<%# ここまで初級の問題 %>
</div>
